
.Type { 
	color: #bdb76b;
  font-weight: bold;
}

.Constant { 
	color: #ffa0a0; 
}

.vim_block, code {
  color: #ffffff;
  background-color: #333334;
  font-family: "DejaVu Sans Mono", Consolas, "Andale Mono", "Lucida Console", Monaco, "Courier New", Courier, monospace;
	overflow: auto;
	font-size: 0.9em;
	padding: 0.5em;
	margin-bottom: 1em;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.PreProc {
  color: #cd5c5c;
 }
