.sticky
  %nav.top-bar.home-border
    %ul.title-area
      %li.name
        %h1
          = link_to 'Chandu Tennety', '/'
      %li.toggle-topbar.menu-icon
        %a{href: ''}
          %span
    %section.top-bar-section
      %ul.left
        %li
          %a{href: '/blog'} Blog
        %li
          %a{href: '/resume.html'} Resume
        %li
          %a{href: 'https://github.com/tennety', target: '_blank'}
            %i.icon-github-alt
        %li
          %a{href: 'https://twitter.com/tennety', target: '_blank'}
            %i.icon-twitter
        %li
          %a{href: 'mailto:chandu.tennety+blog@gmail.com', target: '_blank'}
            %i.icon-envelope-alt
