---
pageable: true
---
%h1
  Archive

%ul
  - page_articles.each_with_index do |article, i|
    %li
      = link_to article.title, article
      %span= article.date.strftime('%b %e')

= partial '/blog/pagination', locals: { paginate: paginate, next_page: next_page, prev_page: prev_page, num_pages: num_pages, page_number: page_number}
