---
layout: main
---
.hide-for-small
  #featured
    .large-3.columns.large-centered
      = tag :img, src: "/images/sp-small.png"
.row
  .small-12.large-6.columns.large-centered
    %br
      %h1 Hi, I'm Chandu Tennety.
      %p I have several secret identities: husband, father, Ruby developer. But at heart I'm an ideator and imaginator (Yeah, I know those aren't real words, but I still like them).
      %p In my superhero guise, you will find me capturing elusive ideas and giving them form.
